

    <div class="card-destination ">
                
            <div class="gridcontainercols">
                <div class="span-5">
                    <div class="destination "></div>
                </div>
                <div class="content-destination span-7">
                    <h1>Our destinations</h1>
                    <h2>Discover the world</h2>
                    <p>
                        Embark on an unforgettable adventure! Discover and enjoy 
                        our fascinating destinations. We are waiting for you 
                        to explore the world together!
                    </p>
                </div>
            </div>


    </div>
