<div class="footer">
    <div class="container"> 
        <div class="gridcontainercols">

            <div class="logofotter span-6">
                <img src="./assets/img/logofooter.svg">
            </div>

            <div class="span-2">
               
               <div class="footerlinks">
                    <span>Destinations</span>
                    <ul>
                        <li><a href="#">Madrid</a></li>
                        <li><a href="#">Barcelona</a></li>
                        <li><a href="#">London</a></li>
                        <li><a href="#">Paris</a></li>
                        <li><a href="#">Rome</a></li>
                  
                    </ul>
               </div> 
            </div>

            <div class="span-2">
                <div class="footerlinks">
                    <span>Legal information</span> 
                    <ul>
                        <li><a href="#">Privacy policy</a></li>
                        <li><a href="#">Cookie policies</a></li>
                        <li><a href="#">data treatment</a></li>
                    </ul>
                </div>
                
            </div>

            <div class="span-2">
                <div class="footerlinks">
                    <span>Book your flight</span>
                    <ul>
                        <li><a href="#">Search flights</a></li>
                        <li><a href="#">Price calendar</a></li>
                        <li><a href="#">Destination map</a></li>
                        <li><a href="#">Flight times</a></li>
            
                
                    </ul>

                    <div class="social">
                        <span>Follow us</span>
                        <ul>
                            <li><a><img src="/assets/img/x.svg"></a></li>
                            <li><a><img src="/assets/img/face.svg"></a></li>
                            <li><a><img src="/assets/img/youtube.svg"></a></li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
    </div>


        <div class="termuse">
            <div class="container p0">
                <ul>
                    <li><a href="#">Website terms of use</a></li>
                    <li><a href="#">Site map</a></li>
                    <li><a href="#">environment</a></li>
                    <li><a href="#">contact@arilines.com</a></li>
                </ul>
             </div>
        </div>

    
  

</div>
