

<nav class="nav-menu">
    <div class="containernav gridmenu">
        <div class="hamburgesamenu">
            <img src="./assets/img/close.svg" *ngIf="themeservice.mobilemenu" (click)="themeservice.mobilemenu = !themeservice.mobilemenu">

           <img src="./assets/img/menu.svg" *ngIf="!themeservice.mobilemenu" (click)="themeservice.mobilemenu = !themeservice.mobilemenu">
        </div>
        <div class="logo">
            <img class="logoimg" src="./assets/img/logo1.svg">
        </div>
        <ul class="links">
            <li><a href="">Check-in</a></li>
            <li><a href="">Manage my booking</a></li>
            <li><a href="">Information</a></li>
        </ul>
        <div class="lenguaje">
            <ul>
                <li> <img src="./assets/img/language.svg"></li>
                <li class="labelenglish"> <a href="">English</a></li>
            </ul>
            
        </div>
       
    </div>
</nav>



